.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;

  width: 100%;
}

.project-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;

    width: 750px;
    margin: 50px;
    padding: 20px;

    border: 2px rgba(0, 0, 0, .5) ridge;
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0.75);

    backdrop-filter: blur(10px);
}

.image-wrapper {
  position: relative;
  display: block;
  z-index: 1;
  width: 100%;

  -webkit-mask-image: radial-gradient(
    circle 30px at calc(15px) calc(15px),
    transparent 95%,
    black 100%
  );
  mask-image: radial-gradient(
    circle 30px at calc(15px) calc(15px),
    transparent 95%,
    black 100%
  );

  margin-bottom: 20px;
}

.image-wrapper img {
  display: block;

  border: 2px var(--accent2) solid;
  border-radius: 10px;
  width: 100%;
  height: auto;
}

.project-container > h2 {
  color: white;
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.project-container > p {
  color: white;
  font-size: 1.25rem;
  line-height: 1.6;
  text-align: left;
  width: 80%;
}

.tech-stack-detail {
  margin-top: 20px;
  width: 80%;
  color: white;
}
.tech-stack-detail > p {
  margin: 0;
  padding: 0;

  font-size: 1.5rem;
}

.d-see-more {
  margin-top: 20px;

  border: 3px var(--accent2) solid;

  border-radius: 100vmax;
  padding: 10px 20px;

  text-decoration: none;
  transition: all 0.3s ease;
}

.d-see-more a {
  color: white;
  text-decoration: none;
}

.d-see-more:hover {
  background-color: var(--accent2);
}

.back-button
{
  position: absolute;

  left: 10px;
  top: 10px;

  height: 50px;
  width: 50px;

  background-color: rgba(0, 0, 0, 0.0);
  backdrop-filter: blur(10px);

  border: 2px var(--accent2) solid;
  border-radius: 100vmax;
  cursor: pointer;

  transition: 0.3s ease;

  z-index: 2;
}

.back-button:hover {
  background-color: var(--accent2);
}

.back-button span {
    display: block;
    width: 20px;
    height: 2px;
    margin: 5px auto;
    background-color: var(--accent2);
    transition: all 0.3s ease;
}

.back-button span:nth-child(1) {
    transform: rotate(-45deg) translate(0px, -4px);
}

.back-button span:nth-child(2) {
    transform: rotate(45deg) translate(0px, 4px);
}

@media (max-width: 800px) {
.project-container {
    width: 500px;
}
.project-container > h2 {
  font-size: 2.0rem;
}
.project-container > p {
  font-size: 1.15rem;
  width: 85%;
}
.tech-stack-detail > p {
  font-size: 1.35rem;
}
.tech-stack-detail {
  width: 85%;
}

}

@media (max-width: 600px) {
.project-container {
    width: 300px;
}
.project-container > h2 {
  font-size: 1.5rem;
}
.project-container > p {
  font-size: 1.0rem;
  width: 90%;
}
.tech-stack-detail > p {
  font-size: 1.25rem;
}
.tech-stack-detail {
  width: 90%;
}

}