.workcomp-container
{
  margin: 2.5vw 0px;

  justify-self: center;
  display: grid;

  width: auto;
  grid-template-columns: auto auto auto auto;

  gap: 25px;
}

@media (max-width: 1400px) {
  .workcomp-container
  {
    grid-template-columns: auto auto auto;
  }
}

@media (max-width: 1000px) {
  .workcomp-container
  {
    grid-template-columns: auto auto;
  }
}

@media (max-width: 800px) {
  .workcomp-container
  {
    grid-template-columns: auto;
  }
}