.container 
{
    width: 25vh;
    height: 25vh;

    border: 2px solid transparent;
    position: relative;

    transition: .25s;

    background: transparent;
}

.container:hover {

    border: 2px solid var(--accent2);
    cursor: pointer;
    scale: 1.1;
}

.container img
{
    width: 100%;
    height: 100%;

    border-radius: 10px;

    overflow: hidden;
    object-fit: cover;
}

.container:hover > img {
    border-radius: 0px;

    opacity: 25%;
    transition: .4s;
    filter: blur(1px);
}

.container div
{
    position: absolute;
    top: 0;
    left: 0;

    width: 25vh;
    height: 25vh;

    display: flex;
    flex-direction: column;
    justify-content: center;

    z-index: 10;
    opacity: 0%;
    transition: .2s;
}
.container:hover > div {
    opacity: 100%;
}

.container h3
{
    width: auto;
    height: min-content;
    text-align: center;
    width: calc(100% - 4px);

    color: white;
    font-size: 2rem;
    font-weight: 500;

    padding: 5px 10px;
}

