li {
    padding: 0px;
    margin: 0px;
    display: inline-flex;
    float: left;
}

#splash {
    height: var(--bannerWidth);
    margin: 0px;
    padding: 0px;

    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */

    background-color: var(--backgroundSecondary);

    border-bottom: 10px solid;
    border-image-slice: 1;
    border-width: .15vw;

    animation-name: gradientLine;
    animation-iteration-count: infinite;
    animation-duration: 10s;

    overflow: hidden; /* Prevents overflow issues */
}

#splash > h1 {
    margin: 0px;
    font-size: 4vw;
    text-align: center;

    color: white;
    font-weight: 100;
}

/*-----------------------------------*/

#work {
    margin-top: 0vw;
    margin-bottom: 0vw;
    text-align: center;
    color: white;

    padding: 5vw 0 5vw 0;
}

#work_card > img {
    transition: .4s;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#work_card > div {
    position: absolute;
    bottom: 15px;
    left: 20px;
    font-size: 2vw;
    color: white;
    text-decoration: none;
    opacity: 0%;
    transition: .4s;
}

#work_card:hover > img {
    opacity: 25%;
    transition: .4s;
    filter: blur(1px);
    transform: scale(1.1);
}

#work_card:hover {
    transition: .4s;
    outline: 1px solid white;
    outline-offset: -.5vw;
}

#work_card:hover > div {
    transition: .4s;
    opacity: 100%;
}

#about_text {
    position: relative;
    top: 10px;
    text-align: left;
}

@media (min-width:0px){
    #cslist {
        text-align: center;
        align-items: center;
        justify-content: center;
        display: grid;
        grid-template-columns: auto;
    }

    #work_card {
        position: relative;
        text-align: center;
        border-radius: 1vw;
        height: 50vw;
        width: 50vw;
        margin: 1vw;
        overflow: hidden;
        outline: 1px solid transparent;
        transition: .4s;
    }

    #about_text > p{
        font-size: 3vw;
        margin-right: 2vw;
        margin-top: 1vw;
    }
    
    #about_text > h2{
        margin-top: .3vw;
        line-height: 7vw;
        font-size: 6vw;
    }
}

@media (min-width:600px){
    #cslist {
        text-align: center;
        align-items: center;
        justify-content: center;
        display: grid;
        grid-template-columns: auto auto;
    }
    
    #work_card {
        position: relative;
        text-align: center;
        border-radius: 1vw;
        height: 30vw;
        width: 30vw;
        margin: 1vw;
        overflow: hidden;
        outline: 1px solid transparent;
        transition: .4s;
    }

    #about_text > p{
        font-size: 1.75vw;
        margin-right: 2vw;
        margin-top: 1vw;
    }
    
    #about_text > h2{
        margin-top: .3vw;
        line-height: 4vw;
        font-size: 3.5vw;
    }
}

@media (min-width:1000px){
    #cslist {
        text-align: center;
        align-items: center;
        justify-content: center;
        display: grid;
        grid-template-columns: auto auto auto;
    }

    #work_card {
        position: relative;
        text-align: center;
        border-radius: 1vw;
        height: 20vw;
        width: 20vw;
        margin: 1vw;
        overflow: hidden;
        outline: 1px solid transparent;
        transition: .4s;
    }

    #about_text > p{
        font-size: 1vw;
        margin-right: 2vw;
        margin-top: 1vw;
    }
    
    #about_text > h2{
        margin-top: .3vw;
        line-height: 3vw;
        font-size: 2.5vw;
    }
}