#photo {
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 20vw;
}

#splash {
    height: 100vh;
    margin: 0px;
    padding: 0px;

    display: flex;
    align-items: center; /* Centers content vertically */
    justify-content: space-between; /* Ensures text and image are separate */

    background-color: var(--backgroundSecondary);

    border-bottom: 10px solid;
    border-image-slice: 1;
    border-width: .15vw;

    animation-name: gradientLine;
    animation-iteration-count: infinite;
    animation-duration: 10s;

    overflow: hidden; /* Prevents overflow issues */
}

#splash > h1 {
    margin: 0px;
    padding: 10vw;
    font-size: 3vw;

    color: white;
    font-weight: 100;
}

/*-----------------------------------*/

#about {

    width: 50vw;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: white;
}

/*-----------------------------------*/

.p_container {
    display: grid; 
    width: 100%;
    height: auto;
    grid-template-columns: 20% 20% 20%;
    justify-content: center;
}

/*-----------------------------------*/

@property --myColor1 {
    syntax: '<color>';
    initial-value: black;
    inherits: false;
}
  
@property --myColor2 {
    syntax: '<color>';
    initial-value: black;
    inherits: false;
}

.title_column {
    padding: 1vw;
    text-align: center;
    width: 20%;
    display: inline-grid;
    align-items: center;
    justify-content: center;
    line-height: 4vw;
}

.title_column h1 {
    color: white;
    font-size: 3vw;
}

.title_column a {
    color: white;
    font-size: 1vw;
    text-decoration: none;
    border: 1px solid;
    border-image-slice: 1;
    border-width: .15vw;
    border-image-source: linear-gradient(to left, var(--accent1), var(--accent2));

    --myColor1: transparent;
    --myColor2: transparent;

    background: linear-gradient(to left, var(--myColor1), var(--myColor2));
    transition: --myColor1 .3s, --myColor2 .3s;
    padding: .5vw 1vw;
}

.title_column a:hover {
    color: white;
    font-size: 1vw;
    border: 1px solid;
    border-image-slice: 1;
    border-width: .15w;
    border-image-source: linear-gradient(to left, var(--accent1), var(--accent2));

    --myColor1: var(--accent1);
    --myColor2: var(--accent2);

    background: linear-gradient(to left, var(--myColor1), var(--myColor2));
}

.img_column {
    display: inline-grid;
}

/*-----------------------------------*/

.p_card {
    position: relative;
    text-align: center;
    border-radius: 10px;
    height: 25vw;
    width: auto;
    margin: 1vw;
    overflow: hidden;
    outline: 1px solid transparent;
    transition: .4s;
}

.p_card > img {
    position: relative;
    border-radius: 10px;
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: .4s;
}

.p_card > div {
    position: absolute;
    bottom: 15px;
    left: 20px;
    font-size: 2vw;
    color: white;
    text-decoration: none;
    transition: .4s;
    opacity: 0%;
    text-align: left;
}

.p_card:hover > img {
    opacity: 25%;
    transition: .4s;
    filter: blur(1px);
    transform: scale(1.1);
}

.p_card:hover > div {
    opacity: 100%;
    transition: .4s;
}

.p_card:hover {
    outline: 1px solid white;
    transition: .4s;
    outline-offset: -.5vw;
}

.line {
    background-color: rgba(255, 255, 255, 0.25);
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    height: 1px;

    margin-top: 5vw;
    margin-bottom: 5vw;
}

.invisBreak {
    margin-bottom: 5vw;
}